html, body, div,
h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFCF2;
    color: #252422;
    direction: rtl;

}

#menu {
    position: fixed;
    width: 100%;
    display: flex;
    list-style: none;
    background-color: #252422;
}

#menu li {
    max-width: 350px;
    padding: 15px 20px;
}

#menu a {
    text-decoration: none;
    color: white
}

.section {
    text-align: center;
    padding-top: 100px;
}


.section h1 {
    margin-bottom: 35px;
    color: #EB5E28;
    font-size: 56px;
    font-family: "Comic Sans MS";
}

#qrcoder img {
    width: 300px;
    height: 300px;
}

#about h2 {
    text-align: right;
    line-height: 1.5;
    font-size: 24px;
    direction: rtl;
    padding: 5px 40px;
}

#photos img {
    width: 800px;
    padding-top: 20px;
}

#spa h3 {
    padding: 20px;
    font-size: 30px;
    color: #f5936d;
}

#spa h2 {
    text-align: right;
    font-size: 24px;
    direction: rtl;
    padding: 5px 40px;
}

#contact {
    padding: 50px;

}

#contact h3 {
    padding: 20px;
    font-size: 30px;
    color: #f5936d;
}

#contact p {
    padding: 20px;
}

pre.code {
    white-space: pre-wrap;
    text-align: right;
    font-size: 24px;
    direction: rtl;
    counter-reset: listing;
    padding: 5px 40px;
  }

  pre.code code {
    counter-increment: listing;
  }
  pre.code code::before {
    content: counter(listing) ". ";
  }

  pre.dots {
    white-space: pre-wrap;
    text-align: right;
    font-size: 24px;
    direction: rtl;
    counter-reset: listing;
    padding: 5px 40px;
  }

